header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(27, 27, 47, 0.8) !important;
    #logo{
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(107%) contrast(103%);
    }
}